<h3>Find Me A</h3>
<div  class="searchoptions">
<div [(ngModel)]="model" ngbRadioGroup name="radioBasic">
  <label class="btn btn-primary">
    <input type="radio" value="rooms"> Room
  </label>
  <label class="btn btn-primary">
    <input type="radio" value="books"> Book
  </label>
  <label class="btn btn-primary">
    <input type="radio" value="colleges"> College
  </label>
</div>
<hr>
</div>

<div *ngIf = "model == 'rooms' then roomsform"></div>
<div *ngIf = "model == 'books' then booksform"></div>
<div *ngIf = "model == 'colleges' then collegeform"></div>



<ng-template #roomsform>
  <form class="form-inline">

  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="City/Location" style="border-radius: 0px;">

  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Username" style="border-radius: 0px;">
  </div>

  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <select class="custom-select" style="border-radius: 0px;">
      <<option value="0" selected>Number of rooms</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
  </div>

  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <select class="custom-select" style="border-radius: 0px;">
      <<option value="0" selected>Room Size</option>
      <option value="1">Small</option>
      <option value="2">Medium</option>
      <option value="3">Large</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" style="border-radius: 0px;"><i class="fa fa-search"></i>&nbsp;Search</button>
  </form>
</ng-template>

<ng-template #booksform>
  <form class="form-inline">

  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Name Of Book" style="border-radius: 0px;">

  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Book Location" style="border-radius: 0px;">
  </div>

  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <select class="custom-select" style="border-radius: 0px;">
      <<option value="0" selected>Book Condition</option>
      <option value="1">New</option>
      <option value="2">Old</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" style="border-radius: 0px;"><i class="fa fa-search"></i>&nbsp;Search</button>
  </form>
</ng-template>

<ng-template #collegeform>
  <form class="form-inline">

  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="College/Uni Location" style="border-radius: 0px;">

  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Book Location" style="border-radius: 0px;">
  </div>

  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <select class="custom-select" style="border-radius: 0px;">
      <option value="0" selected>Faculty</option>
      <option value="1">Engineering</option>
      <option value="2">CSIT</option>
      <option value="2">BBS</option>
    </select>
  </div>

  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <select class="custom-select" style="border-radius: 0px;">
      <option value="0" selected>Level</option>
      <option value="1">Bachelors</option>
      <option value="2">Masters</option>
      <option value="2">Ph.D</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary" style="border-radius: 0px;"><i class="fa fa-search"></i>&nbsp;Search</button>
  </form>
</ng-template>
